body
{
  background-color: #f0f2ff;
  font-family: "Bookman Old Style";
}

header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  padding-top: 0px; 
  border: 2px #374a81 solid;
  border-bottom: 6px #374a81 solid;
  color:#374a81;
  box-shadow: 3px 3px 20px #8da5eb;
  border-radius: 10px;
}

.login
{
  text-align: center;
  flex:1.2;
  font-size:20px;

}


ul[id = "menu"] li
{
  flex:0.6;
  display: table-cell;
  width: 270px;
  text-align: center;
  padding-right:30px;
}

a
{
  color:#374a81;
  text-decoration: none;
  font-size:25px;

}
a:hover
{
  color:#a2212c;
}

.langue
{
  flex:0.8;
  align-self:flex-start;
  font-size:15px;
}

.logo
{
  padding:0px;
  flex:0.4;
  font-size:15px;
  text-align:center;
}

.img_logo
{
  width: 196px;
  height: 126px;
}

footer
{
  display: flex;
  justify-content: space-between;
  margin:0px;
  padding-left:10px;
  border:2px #374a81 solid;
  border-top:6px #374a81 solid;
  color: #374a81;
  box-shadow: 3px 3px 20px #8da5eb;
  border-radius: 10px;
}

.CGU
{
  font-size: 20px;
  flex:1;
}

ul[id ="footer"] li
{
  flex:1;
  display: table-cell;
  width: 170px;
}

ul[id= "footer"] a
{
  text-decoration: none;
  text-align: center;
  font-size:15px;
}

section
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  padding-top: 0px; 
  border: 2px #374a81 solid;
  border-bottom: 6px #374a81 solid;
  color:#374a81;
  box-shadow: 3px 3px 20px #8da5eb;
  border-radius: 10px;
}

.icone
{
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 20px;
}

ul[id = "langue"] li
{
  flex:0.3;
  font-size:17px;
  display: table-cell;
  width: 10px;
  height:30px;
  text-align: right;
  padding-right:10px;
}
