header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  padding-top: 0px; 
  border-bottom: 2px white solid;
  color: white;
  background-color: black;
}

body
{
  background-color: rgb(3,19,62);
  font-family: "Bookman Old Style";
  margin: 0px;
  
}

.login
{
  text-align: center;
  flex:1.2;
  font-size:20px;

}

ul[id = "menu"] li
{
  flex:0.6;
  display: table-cell;
  width: 270px;
  text-align: center;
  padding-right:30px;
  font-size:25px;
}

a
{
  color:white;
  text-decoration: none;
  font-size:25px;

}
a:hover
{
  color:#a2212c;
}

ul[id = "langue"] li
{
  flex:0.3;
  font-size:17px;
  display: table-cell;
  width: 10px;
  height:30px;
  text-align: right;
  padding-right:10px;
}

#icone
{
  display: flex;
  justify-content: right;
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 0px;
}

#icone2
{
  display: flex;
  justify-content: right;
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 20px;
}
.logo
{
  padding:0px;
  flex:0.4;
  font-size:15px;
  text-align:center;
}

img
{
  width: 180px;
  height:auto;
  margin-top:20px;
  float: bottom;
  margin-bottom: 1%;
}

footer
{
  display: flex;
  justify-content: space-between;
  margin:0px;
  padding-left:10px;
  border-top:2px white solid;
  color:white;
  margin-top: 85px;
  background-color: black;
}

.CGU
{
  font-size: 20px;
  flex:1;
}

ul[id ="footer"] li
{
  flex:1;
  display: table-cell;
  width: 170px;
}

ul[id= "footer"] a
{
  text-decoration: none;
  text-align: center;
  font-size:15px;
}

h1
{
	font-size: 3em;
	font-family: calibri;
	color:white;
  text-align: center;
}

a
{
	text-decoration: none;
}

#identité
{
	display: flex;
  justify-content: center;
  margin-top: 20px; 
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(170,170,170);
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 7%;
  margin-top: 65px;
  padding-left: 25px;
	text-shadow: 1px 1px 1px black;
	font-size: 1.5em;
}

.icone
{
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 20px;
}
