header
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 155px;
  padding-top: 0px; 
  color:white;
  margin-bottom: 55px;
  background-color: black;
  border-bottom: 2px solid white;

}
body
{
  background-color: rgb(3,19,62);
  font-family: "Bookman Old Style";
  margin: 0px;
  font-size: 1.5em;
}

ul[id = "menu"] li
{
  flex:0.6;
  display: table-cell;
  width: 270px;
  color: white;
  text-align: center;
  padding-right:30px;
}

a
{
  color:white;
  text-decoration: none;
  font-size:25px;

}
a:hover
{
  color:#a2212c;
}

.logo
{
  padding:0px;
  flex:0.4;
  font-size:15px;
  text-align:center;
}

img
{
  width: 190px;
  height: 145px;
}

#icone
{
  display: flex;
  justify-content: right;
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 0px;
}

#icone2
{
  display: flex;
  justify-content: right;
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 20px;
}

#tof
{
	width: 80px;
	height: 90px;
	
}


footer
{
  display: flex;
  justify-content: space-between;
  margin:0px;
  padding-left:10px;
  border-top:2px white solid;
  background-color: black;
  margin-top: 45px;
}

.CGU
{
  font-size: 20px;
  flex:1;
}

ul[id ="footer"] li
{
  flex:1;
  display: table-cell;
  width: 170px;
}

ul[id= "footer"] a
{
  text-decoration: none;
  text-align: center;
  font-size:15px;
}

a
{
	text-decoration: none;
}
p
{
  font-size: 1em;
}


img
{
  width: 180px;
  height:auto;
  margin-top:20px;
  float: bottom;
  margin-bottom: 1%;
}

#test
{
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	border-radius: 80px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3%;
  color: black;
}

.button
{
  background-color: rgb(170,170,170);
  color: black;
  padding:1px;
}

#test:hover
{
  background-color: #70898a;
}
ul[id = "langue"] li
{
  flex:0.3;
  font-size:17px;
  display: table-cell;
  width: 10px;
  height:30px;
  text-align: right;
  padding-right:10px;
}

.icone
{
  width: 35px;
  height: auto;
  margin-bottom: 70px;
  margin-right: 20px;
}
