main
{
    margin-left: 20%;
    margin-right: 20%;
    text-align:center;

}

main h2
{
    font-size: 35px;
    font-weight: bold;
    text-align:center;
}

main article h3
{
    font-size: 28px;
}
table
{
    border-collapse: collapse;
    margin-left: 25%;
    margin-right: 25%;

}

td,th
{
    border: 2px solid black;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    width:55%;
    text-align: center;
}

main section article 
{
    border: 4px black solid;
    border-radius: 10px; 
    text-align: center;
    padding: 5px;
    margin:20px;
}

.retour
{
    background-color: #fff;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: bold;
    color:grey;
    text-decoration: none;

    border: 3px solid  grey;
    border-radius: 5px;

    padding-left: 5px;
    padding-right: 5px;
    text-align:center;
    margin-bottom:6px;
}

.retour:hover
{
    background-color: grey;
    color: #fff;
}

strong{
    color:red;
}
